.project-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-form h1 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 15px;
    margin-right: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-btn {
    padding: 10px 20px;
    background-color: yellow;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
