
.main-content {
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.main-nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #000;
}

.create-task-btn {
    padding: 10px 20px;
    background-color: yellow;
    border: none;
    cursor: pointer;
}

.task-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.task-details h1 {
    margin-top: 0;
}

.file-upload, .comments-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.file-upload h2, .comments-section h2 {
    margin-top: 0;
}

#fileInput {
    display: block;
    margin-top: 10px;
}

#commentText {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
}

#submitComment {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    margin-top: 10px;
}

#commentsList {
    margin-top: 20px;
}

.comment {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
