{% extends 'main.html' %}
{% block link%}
{% endblock%}

{% block title %}Создание задачи{% endblock %}
{% block body %}
<div class="main-content">
    <div class="project-form">
        <h1>Создание проекта</h1>
        <form action="#" method="post">
            <div class="form-group">
                <label for="project-name">Название проекта</label>
                <input type="text" id="project-name" name="project-name" required>
            </div>
            <div class="form-group">
                <label for="project-description">Описание проекта</label>
                <textarea id="project-description" name="project-description" rows="4" required></textarea>
            </div>
            <div class="form-group">
                <label for="project-start-date">Дата начала</label>
                <input type="date" id="project-start-date" name="project-start-date" required>
            </div>
            <div class="form-group">
                <label for="project-end-date">Срок выполнения</label>
                <input type="date" id="project-end-date" name="project-end-date" required>
            </div>
            <button type="submit" class="submit-btn">Создать проект</button>
        </form>
    </div>
</div>

{%endblock%}  