{% extends 'main.html' %}
{% block link%}
<link rel="stylesheet" href="..//static/css/forms.css">
{% endblock%}

{% block title %}Создание задачи{% endblock %}
{% block body %}
<div class="task-form-container">
    <form class="task-form">
        <h2>Добавить задачу</h2>
        <div class="form-group">
            <label for="project-title">Цель</label>
            <select id="project-title" name="project-title" required>
                <option value="">--Выберите цель--</option>
                <option value="user1">Проектирование</option>
                <option value="user2">Дизайн</option>
                <option value="user3">Фронт</option>
                <option value="user4">Бэк</option>
                <!-- Добавьте больше опций по необходимости -->
            </select>
        </div>
        <div class="form-group">
            <label for="manager-name">Имя испольнителя</label>
            <select id="manager-name" name="manager-name" required>
                <option value="">--Выберите исполнителя--</option>
                <option value="user1">Иван Иванов</option>
                <option value="user2">Мария Петрова</option>
                <option value="user3">Алексей Сидоров</option>
                <option value="user4">Ольга Кузнецова</option>
                <!-- Добавьте больше опций по необходимости -->
            </select>
        </div>
        <div class="form-group">
            <label for="task-title">Название задачи</label>
            <input type="text" id="task-title" name="task-title" required>
        </div>
        <div class="form-group">
            <label for="task-desc">Описание задачи</label>
            <textarea id="task-desc" name="task-desc" required></textarea>
        </div>
        <div class="form-group">
            <label for="task-deadline">Крайний срок</label>
            <input type="date" id="task-deadline" name="task-deadline" required>
        </div>
        <div class="form-group">
            <label for="task-priority">Важность задачи</label>
            <select id="task-priority" name="task-priority" required>
                <option value="low">Низкая</option>
                <option value="medium">Средняя</option>
                <option value="high">Высокая</option>
            </select>
        </div>
        <div class="form-group">
            <label for="task-file">Загрузить файл</label>
            <input type="file" id="task-file" name="task-file">
        </div>
        <button type="submit">Добавить</button>
    </form>
</div>
{% endblock %}