{% extends 'main.html' %}
{% block link%}
<link rel="stylesheet" href="../static/css/epic.css">
{% endblock%}

{% block title %}IT-planer{% endblock %}
{% block body %}
<div class="progress-container">
    <label for="progress-bar">Прогресс выполнения целей:</label>
    <div class="progress-bar" id="progress-bar">
        <div class="progress" style="width: 60%;"></div>
    </div>
    <span class="progress-percentage">60%</span>
</div>
<div class="team">
    <div class="member-card">
         <div class="member-info">
            <h3 class="member-name">Веб-разработка</h3>
            <p class="member-tasks">Выполненные задачи: 15</p>
            <p class="member-tasks">Задачи в процессе: 5</p>
            <div class="progress-container">
                <label for="progress-bar">Общий прогресс:</label>
                <div class="progress-bar">
                    <div class="progress" style="width: 75%;"></div>
                </div>
                <span class="progress-percentage">75%</span>
            </div>
        </div>
    </div>
    <div class="member-card">
        <img src="member1.jpg" alt="Member Photo" class="member-photo">
        <div class="member-info">
            <h3 class="member-name">Иванов Иван</h3>
            <p class="member-tasks">Выполненные задачи: 15</p>
            <p class="member-tasks">Задачи в процессе: 5</p>
            <div class="progress-container">
                <label for="progress-bar">Общий прогресс:</label>
                <div class="progress-bar">
                    <div class="progress" style="width: 75%;"></div>
                </div>
                <span class="progress-percentage">75%</span>
            </div>
        </div>
    </div>
    <!-- Повторите блок member-card для других участников -->
</div>




{% endblock %}