{% extends 'project.html' %}
{% block link%}
<link rel="stylesheet" href="../static/css/epiccard.css">{% endblock%}

{% block title %}IT-planer{% endblock %}
{%block script%}<script src="../static/js/epiccard.js"></script>{% endblock %}

{% block bodyproject %}
<div class="main-content">
    {% for data in epics %}
        <div class="epic-cont">
            <div class="goal-progress">
                <h1>Цель: {{ data.epic.title }}</h1>
                <p>Прогресс выполнения задач:</p>
                <div class="progress-bar">
                    <div class="progress" style="width: {{ data.progress }}%;"></div>
                </div>
                <p>{{ data.progress }}% завершено</p>
                <button class="expand-button" data-epic-id="{{ data.epic.id }}">развернуть</button>
            </div>
            <div class="tasks-list" id="task-list-{{ data.epic.id }}" style="display: none;">
                <h2>Список задач</h2>
                {% for task in data.epic.tasks %}
                    <div class="task-item">
                        {% if project.teamlead.id == user.id %}
                            <h3><a href="/project/taskcard?project_id={{ project.id }}&task_id={{ task.id }}">{{ task.title }}</a></h3>
                        {% else %}
                            <h3>{{ task.title }}</h3>
                        {% endif %}
                        <p>Описание: {{ task.description }}</p>
                        <p>Срок выполнения: {{ task.end_date }}</p>
                        <p>Статус: {{ task.status }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.expand-button').forEach(button => {
            button.addEventListener('click', function() {
                const epicId = this.getAttribute('data-epic-id');
                const taskList = document.getElementById('task-list-' + epicId);
                if (taskList) {
                    if (taskList.style.display === 'none' || taskList.style.display === '') {
                        taskList.style.display = 'block';
                        this.textContent = 'свернуть'; // Change button text to "свернуть"
                    } else {
                        taskList.style.display = 'none';
                        this.textContent = 'развернуть'; // Change button text back to "развернуть"
                    }
                } else {
                    console.error('Element with id task-list-' + epicId + ' not found.');
                }
            });
        });
    });
</script>
{% endblock %}
