<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/landing.css">
    <title>landing page</title>
</head>
<body class="body">
    <header id="header" class="header">
        <ul class="nav_menu">
            <li><a href="">Home</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <div class="nav_towork">
            <a class="btn_towork" href="">To work</a>
        </div>
    </header>
    <div class="block1">
        <div class="text_block1">
            <div class="text_block1_1">It-Planner <br>
                Задачи в порядке!
            </div>
            <div class="text_block1_2">
                It-planner Платформа для вас и вашей команды, для более эфективногоо распределения задач. Оставьте ниже свою почту для доступа к тестированию.
            </div>
        </div>
        <div class="img_block1">
            <img class="img_block1_1" src="../static/img/Logo.jpg" alt="">
        </div>
    </div>
    <div class="block2">
        <div class="img_block2">
            <img class="img_block2_2"src="../static/img/Vector.png" alt="">
        </div>
        <div class="block2_content">
            <div class="text_title_block2">Что такое It-Planner?</div>
            <div class="text_block2">IT-Planner - это умное решение для управления IT-проектами, созданное для тех, кто стремится к максимальной эффективности и контролю в мире информационных технологий. Наша онлайн платформа предоставляет надежное и интуитивно понятное пространство для всех этапов жизненного цикла проекта.</div>
            <div class="btn_block2">
                <a class="btn_towork" href="">Try it</a>  
            </div>
        </div>
    </div>
    <div class="block3">
        <div class="block3_left_content">
            <div class="block3_title">
                Почему именно мы?
            </div>
            <div class="block3_data">
                <div class="data_survey1">100</div>
                <div class="data_survey2">87%</div>
            </div>
            <div class="block3_res">
                <div class="data_res1">Студентов <br>опрошено</div>
                <div class="data_res2">Продукт <br>заинтересовал</div>
            </div>
            <div class="block3_left_img">
                <img class="img_block3_3" src="../static/img/block3.png" alt="">
            </div>
        </div>
        <div class="block3_right_content">
                <div class="block3_right_block1">
                    <div class="block3_1_img">
                        <img src="../static/img/block3-img2.jpg" alt="">
                    </div>
                    <div class="block3_text1">
                        <div class="block3_text1_1">Простота использования</div>
                        <div class="block3_text1_2">Интуитивно понятный интерфейс делает планирование задач легким и быстрым.</div>
                    </div>
                </div>
                <div class="block3_right_block1">
                    <div class="block3_1_img">
                        <img src="../static/img/block3_img3.jpg" alt="">
                    </div>
                    <div class="block3_text1">
                        <div class="block3_text1_1">Коллаборация</div>
                        <div class="block3_text1_2">Работайте в команде над проектами, делитесь задачами и достигайте общих целей в реальном времени.</div>
                    </div>
                </div>
                <div class="block3_right_block1">
                    <div class="block3_1_img">
                        <img src="../static/img/block3_img4.jpg" alt="">
                    </div>
                    <div class="block3_text1">
                        <div class="block3_text1_1">Управление временем</div>
                        <div class="block3_text1_2">Оптимизируйте свое время с помощью функций напоминаний и приоритетов, чтобы успешно справляться с учебой и личными задачами.</div>
                    </div>
                </div>
        </div>
    </div>
</body>
</html>