<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <link rel="stylesheet" href="../static/css/landing.css">
</head>
<body>
    <div class="main-content">
        <header>
            <h1>Добро пожаловать на наш сайт!</h1>
            <h1>Что такое It-Planner?</h1>
            </header>
        <section class="hero">
            <p>IT-Planner - это умное решение для управления IT-проектами, созданное для тех, кто стремится к максимальной эффективности и контролю в мире информационных технологий. Наша онлайн платформа предоставляет надежное и интуитивно понятное пространство для всех этапов жизненного цикла проекта.</p>
            <button class="cta-btn"><a href="/login">Начать работу</a></button>
        </section>
        <section class="about">
            <h2>Простота использования</h2>
            <p>Интуитивно понятный интерфейс делает планирование задач легким и быстрым.</p>
        </section>
        <section class="about">
            <h2>Коллаборация</h2>
            <p>Работайте в команде над проектами, делитесь задачами и достигайте общих целей в реальном времени.</p>
        </section>
        <section class="about">
            <h2>Уведомление в Telegram</h2>
            <p>Уведомления о работе вашей команды и получении новых задач приходят на ваш смартфон.</p>
        </section>
        <section class="contact">
            <h2>Контактная информация</h2>
            <p>Email: abibulaevr@list.ru</p>
            <p>Телефон: +79785009625</p>
        </section>
    </div>
    <script src="script.js"></script>
</body>
</html>
