<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    {% block link %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
    {%block script%}
    {% endblock %}
</head>
<body>
    <div class="main_page" style="position: relative;"> 
        <div class="sidebar">
            <div class="user-panel">
                <img src="../static/img/avatar_user.png" alt="User Avatar" class="user-avatar">
                <div class="user-info">
                    <p class="user-name">{{ user.username }}</p>
                </div>
                <div class="user-icons">
                    <span class="icon">&#128276;</span> <!-- Bell Icon -->
                    <a href="/logout"><span class="icon">&#10145;</span></a> <!-- Exit Icon -->
                </div>
            </div>
            <div class="aside">
            
                <div class="sidebar_а">
                    <div class="project_btn">
                        <h2>Проекты</h2>
                        <a href="/add_project"><img src="../static/img/free-icon-add-7222864.png" alt=""></a>
                    </div>
                    <ul>
                        {% for i in projects %}
                            <li><a href="/project?project_id={{i.id}}">{{i.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        

            {% block body %}
            {% endblock %}
        </div>
    </div>
    {%block content%}
    {%endblock%}    
    <div id="popup" class="popup">
        <div class="popup-content">
            <form action="" method="post">
                <span id="closePopupBtn" class="close-btn">&times;</span>
                <h2>Подключение</h2>
                <input type="text" placeholder="Введите код проекта" name="invite_code">
                <button style="margin-top: 10px;">Submit</button>
            </form>
        </div>
    </div>
    <script src="../static/js/add_project.js"></script>
    <script src="../static/js/team.js"></script>
</body>
</html>