<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    {% block link %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="main_page"> 
        <div class="aside">
            <div class="account_ava">
                <img class="user_avatar" src="../static/img/avatar_user.png" alt="">
                <div class="data_user">
                    <div class="user_fio_main">
                        Abibulaev Lenur
                    </div>
                    <div class="main_team">
                        id_man
                    </div>
                </div>
                <div class="notifications">
                    <img src="../static/img/notifications.png" alt="">
                </div>
            </div> 
            <div class="aside_main">
                <div class="text_user_task">Мои Проекты:</div>
                <div class="user_task">
                    <div class="task">
                        <div class="time_deadline">
                            12:00
                        </div>
                        <div class="data_task">
                            <div class="name_project_task">Имя проекта</div>
                            <div class="name_task">Имя задачи</div>
                            <div class="about_task">Описание задачи</div>
                            <div class="status_task">
                                <div class="complexity">Легко</div>
                                <div class="status">В процессе</div>
                            </div>
                            <div class="details_task">
                                <div class="fio_teamled">Малыгин Д.В.</div>
                                <div class="comment_task">
                                    <img src="../static/img/comments.png" alt="">
                                    <div class="amount_comments"> 0 комметариев</div>
                                </div>
                                <div class="file_task">
                                    <img src="../static/img/file.png" alt="">
                                    <div class="amount_files"> 0 файлов</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="work_zona">
            <div class="nav_ticket">
                <div class="ticket">
                    <div class="tasks"><a href="/tasktable">Задачи</a></div>
                    <div class="projects"><a href="/epictable">Цели</a></div>
                    <div class="report"><a href="">Команда</a></div>
                </div>
                <div class="add_task">
                    Добавить задачу
                </div>
            </div>
            {% block body %}
            {% endblock %}
        </div>
    </div>
        
    
   
</body>
</html>