<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    {% block link %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="main_page"> 
        <div class="aside">
            <div class="account_ava">
                <img class="user_avatar" src="../static/img/avatar_user.png" alt="">
                <div class="data_user">
                    <div class="user_fio_main">
                        Abibulaev Lenur
                    </div>
                    <div class="main_team"> 
                        id_man
                    </div>
                </div>
                <div class="notifications">
                    <img src="../static/img/notifications.png" alt="">
                </div>
                <div class="logout">
                    <img src="../static/img/logout.png" alt="">
                </div>
            </div> 
            <div class="sidebar">
                <h2>Проекты</h2>
                <ul>
                    <li><a href="#">Проект 1</a></li>
                    <li><a href="#">Проект 2</a></li>
                    <li><a href="#">Проект 3</a></li>
                    <li><a href="#">Проект 4</a></li>
                    <li><a href="#">Проект 5</a></li>
                </ul>
            </div>
            <!--<div class="aside_main">
                <div class="text_user_task">Мои Проекты:</div>
                <div class="user_task">
                    <div class="task">
                        <div class="data_task">
                            <div class="name_project_task">Имя проекта</div>
                            <div class="status_task">
                                <div class="complexity">Коллзадач</div>
                                <div class="about_project_epic">Колл целей</div>
                            </div>
                            <div class="details_task">
                                <progress value="70" max="100">70 %</progress>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
        <div class="work_zona">
            <div class="nav_ticket">
                <div class="ticket">
                    <div class="tasks"><a href="/tasktable">Задачи</a></div>
                    <div class="projects"><a href="/epictable">Цели</a></div>
                    <div class="report"><a href="/team">Команда</a></div>
                </div>
                <div class="add_task">
                    <a href="/addtask">Создать задачу</a>
                </div>
            </div>
            {% block body %}
            {% endblock %}
        </div>
    </div>
        
    
   
</body>
</html>