{% extends 'project.html' %}
{% block link%}
<link rel="stylesheet" href="../static/css/team.css">
{% endblock%}

{% block title %}IT-planer{% endblock %}
{% block bodyproject %}
<div class="team">
    <div class="code-container">
        <input type="text" id="codeField" value="Код команды" readonly>
        <button id="copyButton">Копировать</button>
    </div>
    <div class="member-card">
        <img src="../static/img/avatar_user.png" alt="Member Photo" class="member-photo">
        <div class="member-info">
            <h3 class="member-name">Иванов Иван</h3>
            <p class="member-tasks">Выполненные задачи: 15</p>
            <p class="member-tasks">Задачи в процессе: 5</p>
            <div class="progress-container">
                <label for="progress-bar">Общий прогресс:</label>
                <div class="progress-bar">
                    <div class="progress" style="width: 75%;"></div>
                </div>
                <span class="progress-percentage">75%</span>
            </div>
        </div>
    </div>
    <!-- Повторите блок member-card для других участников -->
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const copyButton = document.getElementById('copyButton');
    const codeField = document.getElementById('codeField');

    copyButton.addEventListener('click', function() {
        codeField.select();
        document.execCommand('copy');
        alert('Код скопирован в буфер обмена!');
    });
});
</script>


{% endblock %}